a(data-rel="back", data-role="button", data-theme="a", data-icon="delete", data-iconpos="notext", class="ui-btn-right") Close
p Created by <a href="http://twitter.com/keokilee">@keokilee</a>. This app is built on
  <a href="http://backbonejs.org">Backbone.js</a>, <a href="http://nodejs.org">Node.js</a>,
  <a href="http://jquerymobile.com">jQuery Mobile</a>, <a href="http://mongodb.org">MongoDB</a>, and
  <a href="http://coffeescript.org">Coffeescript</a>. Hosting provided by <a href="http://nodejitsu.com">Nodejitsu.</a>

p The source code is available on <a href="http://github.com/keokilee/hi5-redemption/">Github</a>.
div.fb-like(data-href="http://www.redeemhi5.com", data-send="false", data-width="320", data-show-faces="false", colorscheme="dark")