script#locationTemplate(type="text/template")
    a(href!="#locations/<%= id %>")
        h2 <%= fullName() %>
        p <%= attributes.LOCATION %>
        p <%= attributes.ADDRESS %> (<%= attributes.DISTANCE %>)
        p <%= todaysHours() %>

script#modelTemplate(type="text/template")
    h4 <%= fullName() %>
    p <%= hours() %>
    p <%= description() %>
    p
        a(href!="<%= generateMapsHref() %>", data-role="button") Get directions
