script#locationTemplate(type="text/template")
        a(href!="#locations/<%= OBJECTID %>")
            label <%= NAME %>

script#detailTemplate(type="text/template")
    div(data-role="header")
        h1 <%= NAME %>

    div(data-role="content")
        p The location is at (<%= geometry[0] %>, <%= geometry[1] %>)