extends layout

block content
  div(data-role='page')
    div(data-role="header")
        h1 HI-5 Redemption

    div#searchView(data-role="content")
        h2 Find a redemption center
        input#searchField(type='text', placeholder="Enter a location")