extends layout

block content
    div#searchView(data-role='page')
        div#about-popup(data-role='popup', data-theme="a", data-tolerance="0,0")
            a(data-rel="back", data-role="button", data-theme="a", data-icon="delete", data-iconpos="notext", class="ui-btn-right") Close
            p Created by <a href="http://github.com/keokilee">@keokilee</a>. Will be open sourced soon.

        div(data-role="header")
            a#about(class="ui-btn-left", data-transition) About
            h1 Search
            a#location-button(class="ui-btn-right") Current Location

        div(data-role="content")
            ul(data-role="listview")
                li
                    input(type="search")

            ul#resultView(data-role="listview")

            div#welcome
                h3 Find HI-5 Recycling Locations
                h4 Start by typing in an address or by using your current location.

    div#locationView(data-role='page', data-add-back-btn="true")
        div(data-role="header")
            h1 Loading

        div(data-role="content")
            div#map(style="width:320px; height:320px")
            div#details
