extends layout

block content
  div#searchView(data-role='page')
    div(data-role="header")
        h1 Search
        a.ui-btn-right Current Location

    div(data-role="content")
        ul(data-role="listview")
            li
                input(type="text")

        ul#resultView(data-role="listview")

  div#locationView(data-role='page', data-add-back-btn="true")
    div(data-role="header")
        h1 Loading

    div(data-role="content")
        div#map(style="width:320px; height:320px")

        div#details
