extends layout

block content
  div#searchView(data-role='page')
    div(data-role="header")
        h1 HI-5 Redemption
        a.ui-btn-right(href="#") Current Location

    div(data-role="content")
        ul(data-role="listview")
            li.searchBox
                input(type="text")

