doctype 5
html
  head
    title HI-5 Redemption Centers
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css")
    != css('style')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{analytics_key}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    div#fb-root
    script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=#{fb_app_id}";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    block content

    include backbone-templates
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    != js('jqm-config')
    script(src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js")
    script(src="/javascripts/json2.min.js")
    script(src="/javascripts/underscore-1.4.4.js")
    script(src="/javascripts/backbone-0.9.10.js")
    script(type="text/javascript", src!="http://maps.googleapis.com/maps/api/js?#{maps_key}&libraries=places&sensor=true")
    != js('app')
