doctype 5
html
  head
    title Mocha Tests
    link(rel="stylesheet", href="/mocha/mocha.css")

  body
    div#mocha

    include backbone-templates

    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    != js('jqm-config')
    script(src="/javascripts/json2.min.js")
    script(src="/javascripts/underscore-1.4.4.js")
    script(src="/javascripts/backbone-0.9.10.js")
    script(type="text/javascript", src!="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true")
    != js('app')

    script(src="mocha/mocha.js")
    script(src="/chai/chai.js")
    script
      mocha.setup('bdd');
      window.should = chai.should()

    != js('tests/tests.models')
    != js('tests/tests.views')

    script
      $(function() {
        mocha.checkLeaks();
        mocha.globals(['jQuery']);
        mocha.run();
      });
