body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#welcome {
    padding: 20px 10px;
    text-align: center;
}

#about-popup {
    padding: 10px;
}